$assetPath : "../";

$color__accent: #24b5ab;
$color__accent-light: #b0dedb;
$color__accent-transparent: rgba(190, 228, 225, 0.82);
$color__white: #FFFFFF;
$color__dark: #04151e;
$color__link: #1c8bc6;
$color__substrate: #e8e4e1;

$font-size__title-screen: 5.6rem;
$font-size__title-screen-medium: 4rem;

$focus-outline__accent: 0 0 0 3px rgba(28, 139, 198, 0.7);


$modal-fade-transform: scale(.95)