@import "../../config/vars";

.program-navigation {
  &__menu {
    margin: 220px 20px 0 20px;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &--t2 &__menu {
    margin-top: 1000px;
  }
  &--t3 &__menu {
    margin-top: 400px;
  }
  &__menu--right {
    right: 0;
  }
  &__menu-line {
    width: 2px;
    background: $color__dark;
    height: 1100px;
  }
  &--t2 &__menu-line {
    height: 1300px;
  }
  &--t3 &__menu-line {
    height: 1300px;
  }
  &__menu-title {
    writing-mode: vertical-rl;
    margin: 5px 0;
    transform: rotate(180deg);
    font-family: "Times New Roman", Times, serif;
    font-size: 2.2rem;
  }
  @media (max-width: 1600px) {
    &__menu {
      margin-left: 10px;
    }
  }
  @media (max-width: 800px) {
   & {
     display: none;
   }
  }
}

