@import "../../config/vars";

.samples-screen {
  margin-top: 100px;
  &__title {
    font-size: 6rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 100px;
    text-transform: uppercase;
  }
  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__item-caption {
    margin-top: 10px;
    font-size: 5rem;
    text-align: center;
  }
  &__items--bold-captions &__item-caption {
    font-weight: 700;
  }
  &__group {
    grid-column: span 2;
  }
  &__item-picture {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__group-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 20px;
  }
  @media (max-width: 1000px) {
    &__title {
      font-size: 4rem;
      margin-bottom: 30px;
    }
    &__item-caption {
      font-size: 3rem;
    }
  }
  @media (max-width: 800px) {
    &__items {
      column-gap: 10px;
    }
    &__group {
      grid-column: span 1;
    }
    &__group-images {
      column-gap: 5px;
    }
  }
  @media (max-width: 800px) {
    &__items {
      grid-template-columns: 1fr;
    }
    &__item-caption {
      font-size: 2rem;
      margin-top: 5px;
    }
  }
}