@import "../../config/vars";

.whom-screen {
  margin-top: 100px;
  &__title {
    font-size: 6rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 50px;
    text-transform: uppercase;
    color: $color__accent;
  }
  @media (max-width: 1000px) {
    &__title {
      font-size: 4rem;
      margin-bottom: 30px;
    }
  }
  &__inner {
    background: $color__substrate;
    padding: 50px 0;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__item {
    margin: 20px;
    width: calc(100% / 3 - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__item-caption {
    margin-top: 20px;
    font-size: 4rem;
    text-align: center;
  }
  @media (max-width: 1200px) {
    &__item-caption {
      font-size: 3rem;
    }
    &__item-img {
      max-width: 140px;
      max-height: 140px;
    }
  }
  @media (max-width: 1000px) {
    &__item-caption {
      font-size: 2.4rem;
    }
  }
  @media (max-width: 600px) {
    .whom-screen__item {
      width: calc(100% / 2 - 40px);
    }
    &__item-img {
      max-width: 100px;
      max-height: 100px;
    }
    &__item-caption {
      font-size: 2rem;
    }
    &__inner {
      padding: 20px 0;
    }
  }
}