@import "../config/vars";

@font-face {
  font-family: 'Century Gothic';
  src: url('#{$assetPath}fonts/CenturyGothic/CenturyGothic-Italic.eot');
  src: local('Century Gothic Italic'), local('CenturyGothic-Italic'),
  url('#{$assetPath}fonts/CenturyGothic/CenturyGothic-Italic.eot?#iefix') format('embedded-opentype'),
  url('#{$assetPath}fonts/CenturyGothic/CenturyGothic-Italic.woff') format('woff'),
  url('#{$assetPath}fonts/CenturyGothic/CenturyGothic-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('#{$assetPath}fonts/CenturyGothic/CenturyGothic.eot');
  src: local('Century Gothic'), local('CenturyGothic'),
  url('#{$assetPath}fonts/CenturyGothic/CenturyGothic.eot?#iefix') format('embedded-opentype'),
  url('#{$assetPath}fonts/CenturyGothic/CenturyGothic.woff') format('woff'),
  url('#{$assetPath}fonts/CenturyGothic/CenturyGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('#{$assetPath}fonts/CenturyGothic/CenturyGothic-Bold.eot');
  src: local('Century Gothic Bold'), local('CenturyGothic-Bold'),
  url('#{$assetPath}fonts/CenturyGothic/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$assetPath}fonts/CenturyGothic/CenturyGothic-Bold.woff') format('woff'),
  url('#{$assetPath}fonts/CenturyGothic/CenturyGothic-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('#{$assetPath}fonts/CenturyGothic/CenturyGothic-BoldItalic.eot');
  src: local('Century Gothic Bold Italic'), local('CenturyGothic-BoldItalic'),
  url('#{$assetPath}fonts/CenturyGothic/CenturyGothic-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$assetPath}fonts/CenturyGothic/CenturyGothic-BoldItalic.woff') format('woff'),
  url('#{$assetPath}fonts/CenturyGothic/CenturyGothic-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}


@font-face {
  font-family: 'Playlist Script';
  src: local('Playlist Script'), local('Playlist Script'),
  url('#{$assetPath}fonts/PlaylistScript.ttf') format('truetype');
  font-weight: normal;
}